/JavaWebHL/CRUD_netbean/nbproject/private/
/JavaWebHL/CRUD_netbean/build/
/JavaWebHL/CRUD_netbean/dist/
/Workshop_1/nbproject/private/
/JavaWebHL/Workshop_1/build/
/JavaWebHL/Workshop_1/dist/
/JSPDemo/nbproject/private/
/TL12_HoaLD/nbproject/private/
/TL12_HoaLD/build/
/TL12_HoaLD_2/nbproject/private/
/TL12_HoaLD_2/build/
/JavaWebHL/Practice_PE/nbproject/private/
/JavaWebHL/TL14/nbproject/private/
/JavaWebHL/TL14/build/
/JavaWebHL/TL14/dist/
/JavaWebHL/TL14_2/nbproject/private/
/JavaWebHL/TL14_2/build/
/JavaWebHL/TL14_2/dist/
/JavaWebHL/TL16/nbproject/private/
/JavaWebHL/TL16/dist/
/JavaWebHL/TL16/build/